<footer id="kontakty" class="bg-gradient-to-b from-[#c0e8e0] to-[#003d26] py-10">
    <div class="max-w-7xl mx-auto px-1 text-center text-[#b2f7e2] space-y-4">
        <!-- Logo Image -->
        <img src="/rslogo.png" alt="REAL STYLE Logo" class="w-32 mx-auto mb-6 rounded-full"/>

        <!-- Contact Information Layout -->
        <div class="flex flex-col md:flex-row md:space-x-12 justify-center items-center md:items-start space-y-4 md:space-y-0 text-lg leading-relaxed">
            <!-- First Block -->
            <div class="space-y-2 text-center md:text-right">
                <p class="shadow-text-md"><span class="font-bold">Sídlo:</span> Janka Borodáča 18, 083 01 Sabinov</p>
                <p class="shadow-text-md"><span class="font-bold">Zastúpený:</span> Ing. Marcel Baňas, konateľ spoločnosti</p>
            </div>
            
            <!-- Second Block -->
            <div class="space-y-2 text-center md:text-left">
                <p class="shadow-text-md"><span class="font-bold">IČO:</span> 36 494 526</p>
                <p class="shadow-text-md"><span class="font-bold">Zapísaný v:</span> Obch. registri OS Prešov, odd: Sro, vl. č. 15032/P</p>
            </div>

            <!-- Third Block -->
            <div class="space-y-2 text-center md:text-left">
                <p class="shadow-text-md"><span class="font-bold">Kontaktná osoba:</span> Ing. Marcel Baňas</p>
                <p class="shadow-text-md"><span class="font-bold">Tel.:</span> <a href="tel:+421911670044" class="text-[#aad1ba]">0911 67 00 44</a></p>
                <p class="shadow-text-md"><span class="font-bold">E-mail:</span> <a href="mailto:office@realstyle.sk" class="text-[#aad1ba]">office@realstyle.sk</a></p>
            </div>
        </div>
    </div>
</footer>

